<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aprendendo Ingles</title>
</head>

<body>
    <div app-topo></div>
    <div *ngIf="jogoEmAndamento; else fimDeJogo">
        <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
    </div>

    <ng-template #fimDeJogo>
       <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="container mt-5">
           <div class="row">
               <div class="col-12">
                   <div class="alert alert-warning">Voce perdeu, fim de jogo</div>
                   <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar Novamente</button>
               </div>
           </div>
       </div>
    </ng-template>
    <ng-template #fimDeJogoVitoria>
            <div class="container mt-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success">Voce ganhou, fim de jogo</div>
                            <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar Novamente</button>
                        </div>
                    </div>
                </div>
    </ng-template>
</body>

</html>